

.carousel {
    height: 720px !important;
    background-color: #2F4F4F;
    border: 3px solid #132020;
    border-radius: 5%;
    margin: 6px;
    position: relative;
    top:90px;

  }
  .carousel-inner img {
    height: 640px !important;
    
    margin: auto;
    padding: 70px;
  }

  .carousel-caption{
    transform: translateY(-20px);
  }

.main{
    background-color: #396060;
}

.navbar {
    border-bottom: 3px solid #132020;
}

h5{
    color: white;
    text-shadow: 
    -2px 0 0 #00433E, /* Тень влево */
    0 -2px 0 #00433E, /* Тень вверх */
    2px 0 0 #00433E, /* Тень вправо */
    0 2px 0 #00433E; /* Тень вниз */
}
p{
    color: white;
    text-shadow: 
    -2px 0 0 #00433E, /* Тень влево */
    0 -2px 0 #00433E, /* Тень вверх */
    2px 0 0 #00433E, /* Тень вправо */
    0 2px 0 #00433E; /* Тень вниз */
}

a{
    color: #00433E !important;
    text-shadow: 
    -0.5px 0 0 white, /* Тень влево */
    0 -0.5px 0 white, /* Тень вверх */
    0.5px 0 0 white, /* Тень вправо */
    0 0.5px 0 white !important; /* Тень вниз */
}

.card{
    width: 337px;
    height: 570px;
    margin: 20px;
}

.card-container{
    display:flex;
    flex-wrap: wrap;
    position: relative;
    top: 90px;
}

.img-card{
    width: 280px; 
    height: 350px;
    margin: 11px;
}

.btn-primary{
    margin: 15px;
}

#target-2{
    position: relative;
    bottom: 380px;
    left: 750px;
}

#card1{
    width: 700px !important;
    height: 360px !important;
    position: relative;
    top: 90px;
}

#card2{
    width: 700px !important;
    height: 360px !important;
    position: relative;
    top: 90px;
}

#biograph{
    position: relative;
    left: 670px;
    top: 90px;
}

.alert{
    position: relative;
    top: 300px;
}

.alert-text{
    position: relative;
    left: 650px;
}

.alert-subtext{
    position: relative;
    right: 50px;
}

.container{
    border: 3px solid #132020;
    border-radius: 5%;
    background-color: #00433E;
    position: relative;
    top: 100px;
    margin: 20px !important;
}



#col-bold{
    margin: 15px;
    border: 3px solid #132020;
    border-radius: 5%;
}

#col-img{
    margin: auto;
}

ul span{
    color: red !important;
}

#best-films{
    color: white;
    position: relative;
    top: 100px !important;

}

#info-col{
    color: white;
}

#filmology{
    color: white;
    position: relative;
    top: 100px !important;
}

.table{
    position: relative;
    top: 100px;
}

.table-custom{
    color: white !important;
    background-color: #00433E;
    border: 4px solid #132020 !important;
}



